//.btn , .btn-default , .btn-primary {
    
//    color: black;
//    font-weight: bold;
//    background-color: #FF8000;
//    border: 0px;

//}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width:280px;
        white-space: normal;
        margin-bottom: 5px;
    }
    .dl-horizontal dd {
        margin-left:300px;
    }
}

.btn:hover {
	background: black;
	color: #FF8000;
}


.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.navbar-nav > li, .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin-left: 0.5em;
  margin-right: 1em;
}
dd {
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}

dl > dl {
    margin-left: 1em;
}

#epl425-nav {
   text-align:center;
   width:auto;
   white-space: nowrap;
}

.epl425-learnout {
    color: #008080
}

.epl425-quiz {
    background-color: #FF6666;
}

.theme1-24steps {
    background-color: #D6EAF8   ;
    text-align: right;
}

.theme2-24steps {
    background-color: #F5B7B1 ;
    text-align: right;
}

.theme3-24steps {
    background-color: #EAEDED ;
    text-align: right;
}

.theme4-24steps {
    background-color: #A2D9CE  ;
    text-align: right;
}


.theme5-24steps {
    background-color: #F6DDCC  ;
    text-align: right;
}

.theme6-24steps {
    background-color: #E8DAEF;
}




